# Notion API Keys (für Projekte und Social Media)
NOTION_KEY=<YOUR_NOTION_KEY>
NOTION_KEY_SOCIAL_MEDIA=<YOUR_NOTION_KEY_SOCIAL_MEDIA_DATABASE>

# Notion Datenbank-IDs
DATABASE_ID=<YOUR_DATABASE_ID>
DATABASE_ID_SOCIAL_MEDIA=<YOUR_DATABASE_ID_SOCIAL_MEDIA_DATABASE>

# GitHub Personal Access Token
GITHUB_TOKEN=<YOUR_GITHUB_TOKEN>

# Google Drive Anmeldeinformationen
GOOGLE_CREDS_PATH=/path/to/google/credentials.json

# Google Drive Projekt-Root-Ordner ID
DRIVE_ROOT_ID=<YOUR_DRIVE_FOLDER_ROOT_ID>